<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 该文件存放CRUD的sql语句 -->
<mapper namespace="com.record.dao.RecordMapper">
	<insert id="addRecord">
		insert into t_record
		(
		fk_game_id,
		fk_player_id,
		record,
		time
		)
		<foreach collection="players" item="player" open="values"
			separator=",">
			(
			#{gameId},
			#{player.playerId},
			#{player.record},
			now()
			)
		</foreach>
	</insert>

	<select id="getPlayerAllRecord" resultType="java.lang.Integer">

		select
			t.record
		from
			t_record t
		where
			t.fk_game_id = #{gameId}
			and t.fk_player_id = #{playerId}
		order 
			by t.time asc;
	</select>

</mapper>